@charset "utf-8";
.dialog_wrapper {  background: #595959; padding-bottom: 4px;}
    .dialog_body { padding: 6px; border: 4px solid #dadada; background: #fff;}
        .dialog_head { height: 0px;}
            .dialog_title {color: #666; font-size: 16px; font-weight: bold; background: #fff url(images/linebox_h1_span.gif) no-repeat left 3px; padding: 4px 10px 5px 15px; display: block; float: left;display:none }
            .dialog_close_button {display: block; width: 21px; height: 21px; background: url(images/ico.gif) 0 -761px; position: absolute; top: 10px; right: 10px;}
            .dialog_close_button:hover { background: url(images/ico.gif) 0 -783px;}
        .dialog_content {}
            .dialog_loading { text-align:center; }
                .dialog_loading_text { padding:0px;padding-top:20px;padding-left:10px;width:220px;font-style:italic;margin:15px auto 5px auto; text-align:left; font-size:15px;background:transparent url(images/loading.gif) no-repeat center top; }
            .dialog_message_body { margin:15px 5px 5px 5px; }
                .dialog_message_contents { margin:0px 10px; padding-left:45px; padding-top:5px; padding-bottom:20px; }
                .dialog_message_notice { background:transparent url(images/message_notice.gif) no-repeat left top; }
                .dialog_message_warning { background:transparent url(images/message_warning.gif) no-repeat left top; }
                .dialog_message_confirm { background:transparent url(images/message_confirm.gif) no-repeat left top; }
                .dialog_buttons_bar { text-align:center;margin-top:5px; }
                .dialog_buttons_bar input { margin:0px 5px; }
                .dialog_buttons_bar .btn1 {width: 75px; height: 29px; border: 0; background: url(images/btn1.gif); color: #c73702; font-weight: bold; font-size: 14px;}
                .dialog_buttons_bar .btn2 {width: 75px; height: 29px; border: 0; background: url(images/btn2.gif); color: #4e4e4e; font-weight: bold; font-size: 14px;}


.dialog_has_title { background: #555; }
    .dialog_has_title .dialog_body { background: #fff; bottom: 3px; right: 3px; padding: 10px; border: 4px solid #dadada; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #666;}
        .dialog_has_title .dialog_head {background: url(images/login_h1.gif); height: 30px;}
            .dialog_has_title .dialog_title {color: #666; font-size: 16px; font-weight: bold; background: #fff url(images/linebox_h1_span.gif) no-repeat left 3px; padding: 4px 10px 5px 15px; display: block; float: left; }
            .dialog_has_title .dialog_close_button {position: absolute; top: 10px; _top:14px; right: 10px; background: #fff url(images/dialog_close_button.gif) no-repeat right bottom; width: 21px; height: 21px; padding-right: 10px; overflow: hidden; cursor: pointer;}
            .dialog_has_title .dialog_close_button:hover {background: #fff url(images/dialog_close_button.gif) no-repeat right top;}
        .dialog_has_title .dialog_content {}
            .dialog_has_title .dialog_loading { text-align:center; }
                .dialog_has_title .dialog_loading_text { padding:0px;padding-top:20px;padding-left:10px;width:220px;font-style:italic;margin:15px auto 5px auto; text-align:left; font-size:15px;background:transparent url(images/loading.gif) no-repeat center top; }
            .dialog_has_title .dialog_message_body { margin:15px 5px 5px 5px; }
                .dialog_has_title .dialog_message_contents { margin:0px 10px; padding-left:45px; padding-top:5px; padding-bottom:20px; }
                .dialog_has_title .dialog_message_notice { background:transparent url(images/message_notice.gif) no-repeat left top; }
                .dialog_has_title .dialog_message_warning { background:transparent url(images/message_warning.gif) no-repeat left top; }
                .dialog_has_title .dialog_message_confirm { background:transparent url(images/message_confirm.gif) no-repeat left top; }
                .dialog_has_title .dialog_buttons_bar { text-align:center;margin-top:5px; }
                .dialog_has_title .dialog_buttons_bar input { margin:0px 5px; }
                .dialog_has_title .dialog_buttons_bar .btn1 {width: 75px; height: 29px; border: 0; background: url(images/btn1.gif); color: #c73702; font-weight: bold; font-size: 14px;}
                .dialog_has_title .dialog_buttons_bar .btn2 {width: 75px; height: 29px; border: 0; background: url(images/btn2.gif); color: #4e4e4e; font-weight: bold; font-size: 14px;}

.dialog_no_title .dialog_head {height:0; overflow:hidden}

/* style2 */
.simple-blue{ background-color:#fff; padding:0; box-shadow:0px 0px 0px;}
.simple-blue .dialog_head { height: 24px;}
.simple-blue .dialog_body{border:1px #C4D5DF solid;padding:1px;}
.simple-blue .dialog_title{ display:block; font-weight: bold; border-bottom: 1px #E1E1E1 solid; float:none;padding:0; line-height:22px; height:22px; font-size:12px; background:none; background-color:#E9F1F4;padding-left:10px;color:#3e3e3e; }
.simple-blue .dialog_content input[type="text"], .simple-blue .dialog_content input[type="password"], .simple-blue .dialog_content textarea {border: 1px #7F9DB9 solid; padding:2px 3px; height:16px; line-height:16px; background:none}
.simple-blue .dialog_content select{border: 1px #7F9DB9 solid}
.simple-blue .dialog_content .submit .btn,.simple-blue .dialog_content .submit .btn1,.simple-blue .dialog_content .submit .btn2{background:url(images/btn_bg.png) 0 -25px; width:80px; height:25px; line-height:25px; text-align:center;font-size:14px;color:#fff; cursor:pointer;border:0;font-weight:bold;}
.simple-blue .dialog_content .submit .btn2{background-position:0 -50px;color:#3e3e3e;}
.simple-blue .dialog_close_button{width:14px; height:14px;top:5px; background:url(images/dialog_close_button_blue.gif) left top no-repeat}
.simple-blue .dialog_close_button:hover { background-position: left -14px;}








