<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>属性列表</title>
    <link href="__PUBLIC__/css/admin/dpl-min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/admin/bui-min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/admin/main-min.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="__PUBLIC__/js/admin/jquery-1.8.1.min.js"></script>
</head>
<body>
<div class="main">
	<table class="data-table txt-center">
		<tr>
			<th>序号</th>
			<th>属性名</th>
			<th>属性值</th>
			<th>排序</th>
			<th>有效</th>
			<th>操作</th>
		</tr>
		<foreach name="propListArr" item="v">
		<tr>
			<td><{$v['pid']}></td>
			<td><{$v['name']}></td>
			<td>
				<foreach name="propValueArr" item="vv">
					<if condition="$v['pid'] eq $vv['pid']">
					<{$vv['prop_value']}>,
					</if>
				</foreach>	
			</td>
			<td>
				<if condition="$v['sort_order'] eq 255">2
				</if>
			</td>
			<td>				
				<a href="javascript:setflag(<{$v['pid']}>)" id="flag<{$v['pid']}>">
				         <eq name="v['shanchu']" value="1">是<else/>否</eq>
			   </a>
			</td>
			<td>
				<a href="__CONTROLLER__/prop_edit/pid/<{$v['pid']}>/p/<{$p}>" class="button button-small">编辑</a>
				<!--  <a href="__CONTROLLER__/del/pid/<{$v['pid']}>" class="button button-small">删除</a>-->
				<a href="javascript:del(<{$v['pid']}>);" class="button button-small">删除</a>
				<a href="__CONTROLLER__/propval_add/pid/<{$v['pid']}>" class="button button-small">添加属性值</a>
			</td>
		</tr>
		</foreach>
	</table>
	<div>
	<{$page}>
	</div>
</div>
<script>
//单删
function del(pid)
{
	if(confirm("确定删除吗?"))
	{
         $.post("__CONTROLLER__/prop_del",{"ids":pid,"action":"delone"},function(d)
        		 {
        	       if(d=="OK")
        	    	   {
        	    	     alert("删除成功");
        	    	   }
        	       else{
        	    	     alert("删除失败");
        	       }
        	        location.href="__ACTION__";
        		 }); 
	}	
}
//修改状态
 function  setflag(id)
 {
	  var word=$.trim($("#flag"+id).text());
	  if(word=="是")
		  {
		     var flg=0;
		  }
	  else{
		    var flg=1;
	      }
	  $.post("__CONTROLLER__/setflag",{'ids':id,'flg':flg},function(d)
			  {
		         alert(d.msg);
		         location.href="__ACTION__";
			  },'json');
 }
//设置状态
</script>
</body>
</html>